<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">

    <title>Hoja de vida</title>
</head>
<body style="background-color:darkgrey;">
    <div class="princ">
        <nav style="background-color: black;">
            <div class="nav-wrapper">
               <a href="/index.html" class="brand-logo"><img style="width:160px; height:65px; margin-left:30px ;" src="https://files.slack.com/files-pri/TLV5VDAAH-FTP79HUDT/logogeral.png" alt="logo"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">home</a></li>
                <li><a href="/descripcion">Descripción</a></li>
                <li><a href="/experienciaLaboral">experiencia Laboral</a></li>
                <li><a href="/estudiosRealizados">Estudios Realizados</a></li>
                <li><a href="/aptitudes">Aptitudes</a></li>
                <li><a href="/contactos">contactos</a></li>
              </ul>
            </div>
          </nav>
    </div>
   
    <h1 style=" font-family: 'Noto Serif', serif;  color:white ;  font-size: 50px; text-align: center;">Estudios Realizados</h1>
<div style= "background-color: darkslategray; border-radius: 20px; color: floralwhite;
box-shadow: 10px 20px 40px black; width: 50%; margin: auto; height: 710px;" >
<!-- <img style="width:190px; height:210px; float:right; border-top-right-radius:20px; margin: 10px 15px 0 0;" src="https://files.slack.com/files-pri/TLV5VDAAH-FTAB4PD42/hoja_de_vida.jpg"   alt="img"> -->
<div style="padding:5%; width: 90%;">
  <p style="font-size: 15px; font-family: 'Barlow', sans-serif;">
    <p style="color:white; font-size: 30px;">2019 - 2019 </p>
    Full Stack Developer Bogotá, Colombia 
    <p> Instituto Bictia </p>
  </p>
  <p style="font-size: 15px; font-family: 'Barlow', sans-serif;">
    <p style="color:white; font-size: 30px;">2019 - 2019 Bogotá, Colombia </p>
    Certificado de programadora -junior 
    <p> Instituto Bictia </p>
  </p>
  <p style="font-size: 15px; font-family: 'Barlow', sans-serif;">
    <p style="color:white; font-size: 30px;">2017 - 2018 Bogotá, Colombia </p>
    Bachillerato de media técnica en redes LAN 
    <p> Colegio </p>
  <p style="font-size: 15px; font-family: 'Barlow', sans-serif;">
    <p style="color:white; font-size: 30px;">2007 - 2018 Bogotá, Colombia </p>
    I.E.D centro integral José María Córdoba. Bachiller
    <p> Colegio </p>
</div>
</div>

    

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html> 